.btn {
	padding: 0 30px;
	border: 2px solid $white;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 44px;
	cursor: pointer;
	span {
		position: relative;
		font: 700 16px/42px $Poppins;
		letter-spacing: 1px;
		transition: all 0.3s ease-in-out;
	}
	&:before {
		content: '';
		width: 10px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -1px;
		transition: all 0.3s ease-in-out;
	}

	&.pri_white {
		background: $white;
		&:before {
			background: $darkest-grey;
		}
		span {
			color: $darkest-grey;
		}
		&:hover, &:focus {
			&:before {
				width: 102%;
			}
			span {
				color: $white;
			}
		}
	}
	&.pri_grey {
		border: 2px solid $darkest-grey;
		background: $darkest-grey;
		&:before {
			background: $white;
		}
		span {
			color: $white;
		}
		&:hover, &:focus {
			&:before {
				width: 102%;
			}
			span {
				color: $white;
			}
		}
	}

	&.sec_white {
		&:before {
			background: $white;
		}
		span {
			color: $white;
		}
		&:hover, &:focus {
			&:before {
				width: 102%;
			}
			span {
				color: $darkest-grey !important;
			}
		}
	}

	&.sec_grey {
		border: 2px solid $darkest-grey;
		&:before {
			background: $darkest-grey;
		}
		span {
			color: $darkest-grey;
		}
		&:hover /*&:focus*/ {
			&:before {
				width: 102%;
			}
			span {
				color: $white !important;
			}
		}
		&.loading {
			&:before {
				width: 102%;
			}
			span {
				opacity:0;
			}
			&:after {
				content: "";
				color: $white;
				display: block;
				font-size: 4px;
				margin: 0 auto;
				width: 2px;
				height: 2px;
				border-radius: 50%;
				position: absolute;
				text-indent: -9999em;
				animation: load 1.3s infinite linear;
				transform: translateZ(0) translate(-50%);
				top: 50%;
				left: 50%;
			}
		}
	}



	&_black {
		background: $white;
		color: $blue;
	}
	&_arrow_white {
		position: relative;
		&:before {
			position: absolute;
			color: $white;
			right: -28px;
			font-size: 20px;
		}
	}
}


.icon-link-arrow {
	color:$darkest-grey;
	display: inline-block;
	width: fit-content;
	position: relative;
	cursor: pointer;
	font: 700 16px/1 $Poppins;
	&:before {
		position: absolute;
		right: -28px;
		background: transparent;
		font-size: 20px;
		top: -2px;
	}
}

.icon-arrow-download {
	color:$darkest-grey;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font: 700 16px/1 $Poppins;
	margin-left: 30px;
	&:before {
		position: absolute;
		left: -28px;
		background: transparent;
		font-size: 20px;
		top: -3px;
	}
}

.icon-arrow-more {
	color:$darkest-grey;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font: 700 16px/1 $Poppins;
	margin-right: 25px;
	&:before {
		position: absolute;
		right: -25px;
		background: transparent;
		font-size: 18px;
		top: -1px;
	}
}