@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $weight, $min-font-size, $max-font-size, $font) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      font-size: $min-font-size;
			font-weight: #{$weight};
			font-family: #{$font};
			line-height: 1.3em;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
  }
}

$Gambetta: 'Gambetta-Variable', Helvetica, Arial, sans-serif;
$Inter: 'Inter', Helvetica, Arial, sans-serif;

:root {
  --mattone: #9B4C43;
	--bianco: #FFF;
	--beige: #DED1B8;
	--arancio: #b5944e
	--verde: #5A6E43;
	--marrone: #543E3E;
	--azzurro: #9dced3;
	--grigio: #656565;
	--viola: #780a3c;
}