body {
	background: var(--nero);
	display: flow-root;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 500 16px/1.2 $Inter;
	color: var(--beige);
	overflow: hidden;
	transition: background-color 500ms ease-in-out;
	input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
		box-shadow: 0 0 0 30px var(--bianco) inset;
	}
	* {
		list-style: none;
		box-sizing: border-box;
		appearance: none;
		text-decoration: none;
		outline: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	*::-webkit-media-controls-start-playback-button {
		display: none!important;
		-webkit-appearance: none;
	}
	.tlk-wrapper {
		display: grid;
		text-align: center;
		margin: 0 5%;
		zoom: 1;
		height: 100%;
		position: relative;
	}
	main {
		overflow: hidden;
		position: relative;
		height: 100vh;
		display: grid;
		padding: 0 50px;
		grid-template-columns: 0.6fr 80px .8fr 160px;
		grid-template-rows: 1fr 2fr;
		grid-template-areas: ". . slider ." "title . slider .";
	}
	.vertical {
		border: none;
		border-left: 2px solid var(--beige);
		height: 43px;
		width: 1px;
		display: inline-block;
	}
	button:focus {
		outline:0;
	}
	.clearfix {
		zoom:1;
		&:before {
			content:'';
			display:table; 
		}
		&:after {
			content:'';
			display:table;
			clear:both;
		}
	}
	hr {
		margin:0 auto;
		border:0 none;
		border-top: 1px solid var(--beige);
		padding:0;
		width: 100%;
		height:0;
		overflow:hidden;
		border-radius: 4px;
	}
	figure, picture {
		margin:0;
		font:100 0/0 a;
	}
}