// Fonts
$Gambetta: 'Gambetta', Helvetica, Arial, sans-serif;
$Inter: 'Inter', Helvetica, Arial, sans-serif;

// Colours
:root {
	--mattone: #9B4C43;
	--bianco: #FFF;
	--beige: #DED1B8;
	--arancio: #b5944e;
	--verde: #5A6E43;
	--marrone: #543E3E;
	--azzurro: #9dced3;
	--grigio: #656565;
	--viola: #780a3c;
	--nero: #333;

	--main-color: var(--beige);
}