// Fonts
$Gambetta: 'Gambetta', Helvetica, Arial, sans-serif;
$Inter: 'Inter', Helvetica, Arial, sans-serif;

// Colours
:root {
	--mattone: #9B4C43;
	--bianco: #FFF;
	--beige: #DED1B8;
	--arancio: #b5944e;
	--verde: #5A6E43;
	--marrone: #543E3E;
	--azzurro: #9dced3;
	--grigio: #656565;
	--viola: #780a3c;
	--nero: #333;

	--beige-filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(628%) hue-rotate(341deg) brightness(92%) contrast(88%);
	--marrone-filter: brightness(0) saturate(100%) invert(26%) sepia(6%) saturate(1723%) hue-rotate(314deg) brightness(90%) contrast(91%);
}