main {
	display: grid;
	padding: 0 50px;
	grid-template-columns: 0.6fr 80px .8fr 160px;
	grid-template-rows: 1fr auto 1fr;
	grid-template-areas: ". . slider ." "title . slider ." ". . slider .";


	.main-round-slider {
    width: 100%;
		grid-area: slider;
		height: 100vh;
		pointer-events: none;
		z-index: 0;
		&.show {
			z-index: 1;
			pointer-events: auto;
		}
		.swiper-wrapper {
			transform: translate3d(0, 25vh ,0);
			.swiper-slide {
				figure {
					border-radius: 25vh;
					overflow: hidden;
					height: 50vh;
					img {
						width: 100%;
						transform: translateY(-14%);
					}
				}
			}
		}

	}

	#tlk-category {
		grid-area: title;
		article {
			h1 {
				font: 500 40px/1.2 $Gambetta;
				color: var(--bianco);
				margin: 20px 0;
			}
		}
	}
}