footer {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 50px;
	nav {
		a {
			color: var(--beige);
			display: inline-block;
			padding: 8px 12px;
			border-radius: 3px;
			&.active {
				background: var(--beige);
				color: var(--mattone);
			}
		}
	}
}