footer {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 50px;
	overflow: hidden;
	nav {
		a {
			color: inherit;
			display: inline-block;
			padding: 6px 11px;
			border-radius: 8px;
			transition: background 400ms ease-in-out, color 400ms ease-in-out;
			@include fluid-type(1024px, 1920px, 500, 12px, 25px, $Inter);
			&.active {
				background: var(--beige);
				color: var(--mattone);
				pointer-events: none;
			}
		}
	}
	img {
		width: 1.8vw;
    height: auto;
	}
}