header {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin: 40px 0;
	padding: 0 50px;
	ul {
		position: relative;
		&:first-of-type {
			li {
				&:first-of-type {
					opacity: 0;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-50px, -50%);
				}
				a {
					img {
						width: 30vw;
						height: auto;
					}
				}
			}
		}
		&:last-of-type {
			li {
				&:last-of-type {
					opacity: 0;
					white-space: nowrap;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		li {
			a {
				color: var(--beige);
				@include fluid-type(1024px, 1920px, 500, 12px, 25px, $Inter);
				display: inline-block;
			}
		}
	}
}