<head>
	<title>@@titolo</title>
	<meta charset="utf-8" lang="it">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="preload" href="/css/main.min.css" as="style">
	<link rel="preload" href="/js/main.min.js" as="script">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.min.css">
	<script type="text/javascript" src="/js/main.min.js" defer></script>

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.webp">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.webp">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.webp">
</head>