nav {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	align-items: center;
	margin-top: 30px;
	z-index: 1;
	@include for-tablet-portrait-up {
		justify-content:space-between;
		width: 600px;
	}
	@include for-small-desktop-up {
		width: 800px;
		margin-top: 40px;
	}
	@include for-medium-desktop-up {
		width: 1000px;
		margin-top: 60px;
	}
	@include for-big-desktop-up {
		width: 1200px;
	}
	@include for-extra-big-desktop-up {
		width: 1440px;
	}
	img {
		width: 50px;
		opacity: 0;
		@include for-medium-desktop-up {
			width: 60px;
		}
	}
	ul {
		display: none;
		@include for-tablet-portrait-up {
			width: 335px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		@include for-medium-desktop-up {
			width: 375px;
		}	
		a {
			opacity: 0;
			cursor: not-allowed;
			text-decoration: none;
			color: $grigio;
			font: normal 18px/1.3 $ExtraLight;
			transition: all 300ms ease-in-out;
			&:hover {
				color: $bianco;
			}
			.active {
				color: $bianco;
				font: normal 18px/1.3 $Regular;
			}
		}
	}
}